{{#each content.posts}}
	<div class="post l-gap-normal">
		<div class="post-header" style="background-image:url({{thumbnail}});">
      <div class="post-header-content l-p-normal">
			  <a class="title-link" href="/{{slug}}/"><h1 class="post-title">{{{title}}}</h1></a>
      </div>
      <div class="post-header-overlay"></div>
		</div>
		<div class="post-details">
			<div class="l-p-large">{{{content}}}</div>
		</div>
	</div>
{{/each}}